body{
background:#202124;
color:white;
font-family:Arial;
}

h1{
text-align:center;
}

.grid{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

}

.card{

width:220px;

border:1px solid gray;

padding:20px;

text-align:center;

border-radius:10px;

}